<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="/static/css/default.css"/>
  <title>GroupStreamer.com</title>

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-473720-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body class="index">

  <!-- Navigation bar. -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          GroupStreamer
        </a>
        <ul class="nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <!--<li><a href="#">Link</a></li>-->
        </ul>      
      </div>
    </div>
  </div>

  <div class="container">
  
    <header class="hero-unit">
      <div class="row-fluid">
        <div class="span4">
          <img src="/static/img/logo_big.png" />
        </div>
        <div class="span8">
          <h1>All music is beautiful.</h1>
          <p><strong>But don't we all have our preferences ?</strong></p>
          <p>
            Introducing GroupStreamer, the music recommender system for groups.
            Now available for most Android devices.
          </p>
          <p>
            <a class="btn btn-primary btn-large"
                href="https://play.google.com/store/search?q=pname:ch.epfl.unison">
              Download for Android
            </a>
          </p>
        </div>
      </div>
    </header>

    <div class="page-header">
      <h1>GroupStreamer <small>What is it about ?</small></h1>
    </div>
    <p>
      GroupStreamer is a music recommender system for parties and gatherings: it
      picks out the best music on your Android device given the people around
      you. It's a new project from the LCA4 whose purpose is to investigate
      recommender systems in mobile settings.
    </p>

    <footer>
      Copyright &copy; 2012
      <a href="mailto:lucas.maystre@epfl.ch">Lucas Maystre</a>
    </footer>
  </div>

</body>
</html>
