{% extends "base.html" %}
{% block title %}Technology{% endblock %}
{% block nav %}{{ gen_nav("Technology") }}{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Technology <small>how GroupStreamer works</small></h1>
  </div>

  <div class="row">
    <div class="span12">
      <p>
        Coming soon. In the meantime, check out the <a
        href="/static/bin/poster.pdf">poster</a>.
      </p>
      <a href="/static/bin/poster.pdf" class="thumbnail">
        <img src="/static/img/poster.png" />
      </a>
    </div>
  </div>
{% endblock %}
