.signup h1 {
  min-height:60px;
  margin: 1em 0 0.5em 0;
  padding: 10px 0 0 75px;
  vertical-align: center;
  background-image: url('/static/img/logo.png');
  background-repeat: no-repeat;
  background-position: left top; 
}

.signup a#go {
  margin-top: 1em;
}

.hero-unit h1 {
  margin-top: 0.5em;
}
